body{
    font-family: roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;
    justify-content: space-between;
    flex: auto;
    background-color: hsla(0, 13%, 46%);
    color: #f2f2f2;
    font-size: 24px;
}

body #main{
    background-color: #303030;
    display: flex;
    width: auto;
    align-items:center;
    justify-content: space-around;
    height: fit-content;
    padding: 20px 0 20px 0;
}

#space-box{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

#box-row{
    display: flex;
    flex-direction: column;
}
  
.box{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-color: rgb(82, 82, 82);
    border-width: 0.001px;
    align-items: center;
    box-sizing: border-box;
}

.box:hover{
    opacity: 1;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.slider {
    width: 100%; 
    height: 25px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .8s;
}

.slider:hover{
    opacity: 1;
}

.button{
    padding-top: 20px;
}

.footer{
    display: flex;
    padding:5px;
    padding-top: 12px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

#menu{
    background-color: #303030;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-around;
    height: fit-content;
    padding: 20px 0 20px 0;
}

.typeinput{
    margin-top: 10px;
}